#viewList {
	border: 1px solid black;
	width: 100%;
}

#viewList caption {
	text-align: center;
}

#viewList tr td:first-child {
	border-top: 1px solid black;
	border-right: none;
}

#viewList td {
	padding: 10px 10px;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

#viewList td img {
	height: 75px;
}

#viewList p {
	padding-top: 12px;
}