
<div class="container">
	<table id="viewList" ng-controller="ViewListController">
		<caption>Streamers</caption>
		<!-- <th>
			<td>Name</td>
			<td>Status</td>
			<td>Game</td>
		</th> -->
		<tbody>
			<tr ng-repeat="streamer in streamers">
				<td><a ng-href="{{ streamer.link }}"><img ng-src="{{ streamer.logo }}" /></a></td>
				<td><a ng-href="{{ streamer.link }}"><p>{{ streamer.name }}</p></a></td>
				<td><p>{{ streamer.status }}</p></td>
				<td><p>{{ streamer.game }}</p></td>
			</tr>
		</tbody>
	</table>
</div>